html {
		font-size:62.5%;
}

body{
	background-color:#1B4F08;
}	

* {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

#header {
	background-color: #18391E;
	padding:10px;
}

#header img.logo {
	
	display: block;
	padding:20px;
	
}

#header .in span  {
	font-size:1.2em;
	float:right;
	padding:15px;
}

#header .in span a {
	color:#B3B6B7;
	padding:3px;
	

}

#headline h1 {
	color: #7DCEA0;
	font-family:calibri;
	font-size: 8vw;

}

p {
	font-family:calibri;
	font-size:1.6em;
	color:white;
}

/*p.bleu{
	background-color:#2980b9;
}

p.blanc{
	background-color:#ecf0f1;
}

p.rouge{
	background-color:#c0392b;
}
*/

table
{
	color:white;
	font-size:1.6em;
    border-collapse: collapse; 
}	

table,tr{
	border:0.5px solid white;
}

td.prem{
	background-color:silver;
	border-bottom:0.5px solid black;
	border-right:0.5px solid black;
}



@media screen and(max-width:480px;),(-webkit-min-device-pixel-ratio: 2) { 
table,tbody,tr,td
{	
	text-align:center;
	display:block;
}

body{
	background-position: center;
	background-size:cover;
	background-attachment:fixed;
}
}

@media screen and(max-width:767px;),(-webkit-min-device-pixel-ratio: 2){ 
table,tbody,tr,td
{
	text-align:center;
	display:block;
}
body{
	background-position: center;
	background-size:cover;
	background-attachment:fixed;
}
}

@media screen and(max-width:979px;),(-webkit-min-device-pixel-ratio: 2){ 
table,tbody,tr,td
{
	display:block;
	text-align:center;

}

body{
	background-position: center;
	background-size:cover;
	background-attachment:fixed;
}

}

@media screen and max-width:1200px;),(-webkit-min-device-pixel-ratio: 2){ 

table,tbody,tr,td
{
	text-align:center;	
	display:block;
}
body{
	background-position: center;
	background-size:cover;
	background-attachment:fixed;
}

}